* {
  margin: 7px;
}
.calc {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  text-align: left;
  border: 3px solid #e55d87;
  border-radius: 2rem;
  width: 300px;
  height: auto;
  background-color: white;
}

.title {
  text-align: center;
  font-size: large;
  margin-bottom: 30px;
  letter-spacing: 1rem;
}



.customer-title {
  margin-right: 15px;
}

.spec-title {
  margin-right: 50px;
}
.phoneNumber-title {
  margin-right: 40px;
}
#spec{
  transform: scale(120%);
  width: 45%;
}



.date-title {
  margin-right: 45px;
}


.purchasePrice-title {
  margin-right: 150px;
}
.purchasePrice-title-out {
  opacity: 0;
}
